* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins',"sans-serif";
	box-sizing: border-box;
}

.main{
	height: 100vh;
	width: 100%;
	min-width: 100vh;
	background: linear-gradient(135deg,#153677,#4e085f);											
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items:center;
}

.main h2{
	padding: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container{
	background-color: white;
	border-radius: 10px;
	width: 45vw;
	height: 50vh;
	margin-bottom: 100px;
	color:rgb(0, 28, 88);
	overflow: auto;
	box-sizing: content-box;
	padding-right: 17px;

}
.list-window{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
	margin-right: 40px;
}


#task-input{
	border: none;
	background-color: #d6d2d2;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding: 15px;
	width: 100%;
	height: 50px;
	font-weight: 600;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	outline: none;
}

#add-btn{
	width: 100px;
	height:50px;
	border: none;
	background-color: rgb(255, 145, 0);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 525;
}

#add-btn:hover{
	opacity: 0.85;
}

.main-container hr {
	margin: 20px;
	border: 1px solid gray;
}

.main-container ul{
	list-style: none;
	margin: 20px;
	font-size: 20px;
	padding: 10px;
}

ul li{
	padding: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	justify-content: space-between;
}

ul li p {
	display: inline-block;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

ul li div{
	display: inline-block;
}

.icon-buttons{
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.icon-buttons i:hover{
	opacity: 0.8;
}

ul li div:first-child input{
	border: .2px solid lightgray;
	outline: none;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 1rem;
	font-size: 1rem;
	color:#153677;
	font-weight: 500;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

